@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Luckiest+Guy&display=swap');

body{
    
    background-color: var(--backgroundColor);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr;
    row-gap: 4vw;
    padding-left: 2vw;
    padding-right: 2.5vw;
    background-color: var(--backgroundColor);
    width: auto;
    padding-bottom: 4vw;   
    align-items: center;
    justify-content: center;
}

.header{
    background-color: var(--backgroundColor);;
    width: 100%;
    height: 100%;
    font-family: "Luckiest Guy", cursive;
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (width <= 1196px) {
    .container{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .header > h1{
        font-size: 1.65em;
    }
}


@media (width <= 820px) {
    .container{
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3vw;
    }

    .header{
        width: 100%;
    }
}


@media (width <= 590px) {
    .responsive{
        height: 22vw!important;
        width: 32vw!important;
    }
}

@media (width <= 420px) {
    .header > h1{
        font-size: 1.35em;
    }
}

@media (width <= 343px) {
    .header > h1{
        font-size: 1.25em;
    }
}