<nav class="menu-bar">
    <div class="group">
        <a href="/" class="item title"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6uDmga9LYFzmS0kRUBUkWS9RVVY33jxor09ELLMfjsw&s"></a>
    </div>
    <div class="group">
      <div>
        <a class="item side" href="whoarewe">About us</a>
      </div>
      <div class="subnav">
      <a class="item side" id="events-link">Events</a>
      <div class="subnav-content">
        <a class="sbnav" href="events/fall">FALL23</a>
        <a class="sbnav"href="events/spring">SPRING23</a>
        <a class="sbnav"href="events/dday">D-DAY23</a>
      </div>
    </div>
    <div>
      <a class="item side" href="sponsors">Sponsors</a>
    </div>
    </div>
  </nav>