<nav class="menu-bar">
  <div class="desktop-menu">
    <div class="group">
      <a href="/" class="item title"><img src="../../assets/Screenshot_2024-02-25_at_11.56.13-removebg-preview.png"></a>
    </div>
    <div class="group">
      <div>
        <a class="item side" href="who-are-we">Who we are</a>
      </div>
      <div class="subnav">
        <a class="item side" id="events-link">Events</a>
        <div class="subnav-content">
          <a class="sbnav" href="events/fall">FALL 23</a>
          <a class="sbnav" href="events/spring">SPRING 24</a>
          <a class="sbnav dday" href="events/dday">D-DAY 23</a>
        </div>
      </div>
      <div>
        <a class="item side" href="meet-the-team">Meet the team</a>
      </div>
      <div>
        <a class="item side" href="sponsors">Sponsors</a>
      </div>
      <div class="subnav">
        <a class="item side dday-tab">D-Day</a>
        <div class="subnav-content">
          <a class="sbnav" href="dday/schedule">Schedule</a>
          <a class="sbnav" href="dday/sports">Sports & Sign-Up</a>
        </div>
      </div>
      <div>
        <a class="item side" href="contact-us">Contact us</a>
      </div>
      <!-- <div>
      <a class="item side" href="charity">Charity</a>
    </div> -->
    </div>
    <div class="theme">
      <app-theme></app-theme>
    </div>
  </div>
  <div class="hamburger-menu">
    <div class="mobile-title">
      <a href="/" class="mobile-item mobile-title"><img
          src="../../assets/Screenshot_2024-02-25_at_11.56.13-removebg-preview.png"></a>
    </div>

    <div class="hamburger">
      <img (click)="showMenu()" src="../../assets/hamburger-menu.png">
    </div>
    <div class="hidden-menu" *ngIf="this.menuStatus">
      <div class="mobile-items">
        <div class="mobile-items" *ngIf="!ddayStatus && !eventsStatus && !themeStatus">
          <a href="who-are-we">Who we are</a>
          <a (click)="changeMenu('events')">&#11164; Events</a>
          <a href="meet-the-team">Meet the team</a>
          <a href="sponsors">Sponsors</a>
          <a (click)="changeMenu('dday')">&#11164; D-Day</a>
          <a href="contact-us">Contact us</a>
          <!-- Hiding it for now: <a href="charity">Charity</a> -->
          <a (click)="changeMenu('theme')">&#11164; Theme</a>
        </div>
        <div *ngIf="ddayStatus" class="mobile-items">
          <img (click)="changeMenu('dday')"
            src="../../assets/arrow-computer-icons-encapsulated-postscript-back-ba07455b568a908a3e32aa57a0501d18.png">
          <h1>D-DAY</h1>
          <a href="dday/schedule">Schedule</a>
          <a href="dday/sports">Sports & Sign-Up</a>
        </div>
        <div *ngIf="eventsStatus" class="mobile-items">
          <img (click)="changeMenu('events')"
            src="../../assets/arrow-computer-icons-encapsulated-postscript-back-ba07455b568a908a3e32aa57a0501d18.png">
          <h1>EVENTS</h1>
          <a href="events/fall">FALL23</a>
          <a href="events/spring">SPRING 24</a>
          <a href="events/dday">D-DAY 23</a>
        </div>
        <div *ngIf="themeStatus" class="mobile-items">
          <img (click)="changeMenu('theme')"
            src="../../assets/arrow-computer-icons-encapsulated-postscript-back-ba07455b568a908a3e32aa57a0501d18.png">
          <h1>Themes</h1>
          <a (click)="onThemeChange('traditional')">Traditional</a>
          <a (click)="onThemeChange('reversed')">Reversed</a>
          <a (click)="onThemeChange('dday')">D-DAY</a>
        </div>
      </div>
    </div>
  </div>
</nav>