.menu-bar {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    font-family: "Luckiest Guy", cursive;
    width: 100;
}

.desktop-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item {
    color: var(--textColor);
    background-color: transparent;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
}


.side {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.group {
    height: 100%;
    justify-content: center;
    display: flex;
}

.item.title {
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    height: 100%;
}

.item {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.subnav {
    float: left;
    height: 100% !important;
    width: 100%;
    position: relative;
}

.subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
}

.subnav:hover {
    font-weight: bolder;
}

.subnav-content {
    font-weight: normal;
    display: none;
    position: absolute;
    background-color: var(--primaryColor);
    width: 100%;
    top: 90%;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px 1px black;
}

.dday-tab {
    width: 15vh;
}

.sbnav {
    font-size: 2vh;
    text-align: center;
    min-height: 5vh;
    align-items: center;
    color: var(--textColor);
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    width: 100%;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    text-align: center;
}

.hamburger-menu {
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1513px) {
    .menu-bar {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .desktop-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        position: relative;
        font-size: 2rem;
        width: 100%;
    }

    .mobile-title {
        position: relative;
        left: 0;
        height: 100%;
        width: 80%;
    }

    .hamburger {
        height: 50%;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .hamburger img {
        filter: invert(75%) sepia(69%) saturate(514%) hue-rotate(347deg) brightness(99%) contrast(94%);
    }

    .hidden-menu {
        position: fixed;
        width: 100vw;
        height: 90vh;
        right: 0;
        bottom: 0;
        background-color: var(--accentColor);
        z-index: 1;
    }

    .mobile-items {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .mobile-items img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 3%;
        top: 10px;
        filter: invert(75%) sepia(69%) saturate(514%) hue-rotate(347deg) brightness(99%) contrast(94%);
    }

    .mobile-items h1 {
        color: var(--primaryColor)
    }

    .mobile-items a {
        color: var(--textColor) !important;
    }

    hr {
        width: 100% !important;
        border-top: 2px solid var(--primaryColor);
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1025px) and (max-width : 1513px) {
    .mobile-title img {
        width: 30%;
        height: 100%;
    }
}

@media only screen and (max-width : 500px) {
    .mobile-title img {
        width: 70%;
        height: 100%;
    }
}