<app-navigation></app-navigation>
<h1>Contact info</h1>
<h2>You can find us here</h2>
<ul>
    <li>12 Svoboda Bachvarova Str., Blagoevgrad, Bulgaria, ZIP: 2700</li>
    <li>President – Zdravko Rashkov: +359 886 659 576</li>
    <li>Vice President – Nikolay Pavlov: +359 895 057 090</li>
    <li>Head of Marketing – Hana Egikyan: +359 882 051 111</li>
    <li>Head of Sponsorship & Treasurer – Brigita Andonova: +359 896 717 610</li>
    <li>aubgolympicscommittee&#64;gmail.com</li>
</ul>
<form [formGroup]="emailForm" (ngSubmit)="validate()">
    <p>Name</p><p *ngIf="nameError">{{this.nameError}}</p>
    <input type="text" formControlName="name"/>
    <p>Email</p><p *ngIf="emailError">{{this.emailError}}</p>
    <input type="email" formControlName="email"/>
    <p>Message</p><p *ngIf="textError">{{this.textError}}</p>
    <input type="text" formControlName="text"/>
    <button>Submit</button>
</form>