<div appRotateDirective class="wrapper" (rotate)="onRotate($event)">
    <div class="sport-container">

        <div class="container-wrapper" *ngIf="hide">
            <div class="sport-data" [ngClass]="isHidden? '' : 'hidden'">
                <img src="../../../assets/arm-wrestling-icon-copy.png" class="responsive" />
                <h3 class="sport-header">{{sport.Title}}</h3>
            </div>

            <div class="sport-description" [ngClass]="!isHidden? '' : 'hidden'">
                <h3 class="sport-header">{{sport.Headline}}</h3>
                <p class="description">{{sport.Description}}</p>
                <a href="sport.RulesUrl"
                    target="_blank" class="rules">Rules</a>
            </div>
        </div>

    </div>
</div>