.wrapper {
    width: 100%;
    height: 320px;
    font-family:  "Luckiest Guy", cursive;
    display: flex;
    justify-content: center;
}

.sport-container {
    background-color: var(--primaryColor);
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    border-radius: 80px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--primaryColor);
}

.hidden {
    display: none !important;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sport-data {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in forwards;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.sport-header {
    margin: 0;
    padding: 0;
    font-size: 1.85em;
    color: var(--textColor);
    margin: 0;
    text-align: center;
}

.sport-description {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateX(180deg);
    animation: fadeIn 1.8s ease-in forwards;
}

.description {
    color: var(--textColor);
    font-size: 0.95em;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.responsive {
    height: 8vw;
    width: 9vw;
}

.responsive-image{
    width: 100%!important;
    height: 80%!important;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    height: 15%;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid var(--backgroundColor);
    background-color: var(--secondaryColor);
    color: var(--textColor);
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 361px) {
    .action-buttons{
        width: 100%!important;
    }

    .description{
        font-size: 0.65em!important;
    }

    .sport-header{
        font-size: 1.1em!important;
    }

    .button {
        font-size: 0.9em !important;
    }
}

@media screen and (min-width: 362px) and (max-width: 1000px) {
    .description{
        font-size: 0.75em;
    }

    .sport-header{
        font-size: 1.5em;
    }

    .action-buttons{
        width: 100%;
    }
}

@media screen and (max-width: 501px) {
    .description{
        font-size: 0.75em;
    }

    .sport-header{
        font-size: 1.5em;
    }

    .action-buttons{
        width: 100%;
    }

    .responsive-image{
        width: 180%!important;
    }
}


@media screen and (max-width: 374px) {
    .responsive-image{
        width: 160%!important;
        height: 60%!important;
    }
}

@media screen and (min-width: 752px) and (max-width: 1296px) {
    .responsive{
        width: 15vw;
        height: 12vw;
    }
}

@media screen and (min-width: 591px) and (max-width: 751px) {
    .responsive{
        width: 20vw;
        height: 16vw;
    }
}

@media screen and (max-width: 396px){
    .wrapper{
        height: 350px;
    }
}

@media screen and (max-width: 440px){
    .container-wrapper.special .sport-description{
        justify-content: unset;
        padding-top: 25px;
    }
}
