<div  class="wrapper" >
    <div class="sport-container" appRotateDirective (rotate)="onRotate($event)">

        <div class="container-wrapper" *ngIf="hide">
            <div class="sport-data" [ngClass]="isHidden? '' : 'hidden'">
                <div class="img-wrapper">
                    <img src="{{sport.Icon}}" class="responsive" alt="Sport Icon" [ngClass]="{'responsive-image': sport.Title == 'Tug of War'}"/>
                </div>
                <div class="header-wrapper">
                    <h3 class="sport-header">{{sport.Title}}</h3>
                </div>
            </div>

            <div class="sport-description" [ngClass]="!isHidden? '' : 'hidden'">
                <h3 class="sport-header">{{sport.Headline}}</h3>
                <p class="description">{{sport.Description}}</p>
                <div class="action-buttons">
                    <a href="{{sport.RulesUrl}}" target="_blank" class="button" *ngIf="sport.RulesUrl">Rules</a>
                    <a href="{{sport.SignUpUrl}}" target="_blank" class="button">Sign-Up</a>
                </div>
            </div>
        </div>

    </div>
</div>