<app-navigation></app-navigation>
<div class="page-container">
    <h1 class="section-title">D-DAY INFO</h1>
  
    <div class="content-section">
      <div class="content-block">
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1743405382/WhoWeAre/PenevPhotography_36_of_38_j7wnfw.jpg" alt="Team Photo" class="content-image" />
        <p class="content-text">
          Get ready for the grandest weekend of the year! AUBG Olympics is bringing the heat with an unforgettable two-day spectacle of sports, spirit, and sheer adrenaline.

April 10th – Opening Ceremony. Kick off the action with an electrifying Opening Ceremony that sets the stage for an epic weekend! Expect fiery performances, intense energy, and a community united under the flame of competition. The start is 7.30pm in ABF Sports Hall (American University in Bulgaria, Svoboda Buchvarova 3, Blagoevgrad)
        </p>
      </div>
  
  
      <div class="content-block">
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1743406253/WhoWeAre/IMG_9700_cpptbw.jpg" alt="Olympic Fire" class="content-image" />
        <p class="content-text">
          April 12th, 13th – AUBG OLYMPICS D-DAY. Brace yourself for the ultimate test! D-Day, the pinnacle event of the year, will push participants to their limits in a thrilling Inferno Trial - a challenge of strength, resilience, and determination. Will you conquer the flames or be consumed by the blaze? We will be expecting you on the 12th of April in the ABF Facilities (American University in Bulgaria, Svoboda Buchvarova 3, Blagoevgrad) and then on the 13th of April in “Porters Field”, before park Bachinovo, Blagoevgrad.
        </p>
      </div>
    </div>

    <div class="content-block center-block">
      <p class="content-text">Whether you're competing or cheering from the sidelines, this is your chance to be part of AUBG’s most legendary tradition. Mark your calendars, gather your squad, and prepare for a weekend of fire, glory, and unity!

        Don’t just witness history - become part of it!</p>
    </div>
  
    <div class="button-group">
      <a class="action-button" href="dday/sports">Sign-Up</a>
      <a class="action-button" href="dday/schedule">Schedule</a>
    </div>
  </div>
  