<app-navigation></app-navigation>

<h1 class="header">D-Day Schedule</h1>
<div class="container">
    <div class="day">
        <h3 class="subheader">Saturday - 12.04</h3>
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1743406337/Schedule/DDAY_Schedule_-_1_w5ufpd.png" alt="Saturday Schedule" class="responsive">
    </div>
    <div class="day">
        <h3 class="subheader">Sunday - 13.04</h3>
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1743406339/Schedule/DDAY_Schedule_-_2_m6ipj7.png" alt="Sunday Schedule" class="responsive">
    </div>
</div>