<app-navigation></app-navigation>

<h1 class="header">D-Day Schedule</h1>
<div class="container">
    <div class="day">
        <h3 class="subheader">Saturday - 20.04</h3>
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1711996009/Schedule/Saturday.png" alt="Saturday Schedule" class="responsive">
    </div>
    <div class="day">
        <h3 class="subheader">Sunday - 21.04</h3>
        <img src="https://res.cloudinary.com/dq9gemegi/image/upload/v1711996008/Schedule/Sunday.png" alt="Sunday Schedule" class="responsive">
    </div>
</div>