<div appHover class="wrapper">
    <div  class="member-container">
        <div class="img-wrapper">
            <img [src]="getImage()" alt="Member Name" class="responsive" />
        </div>
    </div>
    <ng-container *ngIf="isHovered">
        <div class="overlay"></div>
        <div class="text-on-overlay">
            <div class="member-header">
                <h1 class="text">{{getFullName()}}</h1>
            </div>
            <div class="member-position">
                <p class="position-text">{{getPosition()}}</p>
            </div>
            <div class="member-contact">
                <a href="{{member.FacebookURL}}" target="_blank" *ngIf="member.FacebookURL"><fa-icon [icon]="faFacebookIcon"
                        class="icon"></fa-icon></a>
                <a href="{{member.InstragramURL}}" target="_blank" *ngIf="member.InstragramURL"><fa-icon
                        [icon]="faInstragramIcon" class="icon"></fa-icon></a>
                <a href="{{member.LinkedInURL}}" target="_blank" *ngIf="member.LinkedInURL"><fa-icon
                        [icon]="faLinkedInIcon" class="icon"></fa-icon></a>
            </div>
        </div>
    </ng-container>
</div>
