
<div class="sponsors">
<h1>TIER 1</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photos' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1>TIER 2</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photos' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1>TIER 3</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photos' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1>TIER 4</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photos' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
</div>