body{
    background-color:var(--backgroundColor);
    overflow-x: hidden;
}

[class^="number-slide"],
[class*=" number-slide"] {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items:center;
    width: fit-content;
    height: 200px;
    max-height: 200px;
    cursor: pointer;
}

/* .slide{
    box-shadow: 0px 0px 10px 10px  var(--accentColor);
} */

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.onHover{
    position: absolute;
    left:0;
    top:0;
    height: 10%;
    width: 99.9%;
    opacity: 1;
    transition: 0.5s ease;
    margin:0px;
    background-color: var(--primaryColor);
    color: transparent; /* make the text invisible */
    user-select: none; /* prevent selection of the text */
}

.slide:hover .onHover{
    font-size: 18px;
    height: 100%;
    color: var(--textColor);
}

.cc{
    cursor: grab;
}