<app-navigation></app-navigation>
<div class="sponsors">
<!-- <img class="lightning" src="../../assets/Lightning2.png"> -->
<h1 class="zeus heading">ZEUS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier1' [spacing]=150 [hover]="true" [arrows]="true" [url]="true"></app-carousel>
</div>
<h1 class="posseidon heading">POSEIDON</h1>
<div class="cc">
    <div>
    <div class="poseidon-temp">
    <div *ngFor="let photo of photosTier2" class="keen-slider__slide slide number-slide"><img [ngSrc]="photo.src" fill priority>
        <p class="onHover">{{photo.description}} <a  href={{photo.pageUrl}} target="_blank">See More</a></p>
      </div>
    </div>
</div>
<!-- <app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier2' [spacing]=150 [hover]="true" [arrows]="true" [url]="true"></app-carousel> -->
</div>
<h1 class="athena heading">ATHENA</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier3' [spacing]=150 [hover]="true" [arrows]="true" [url]="true"></app-carousel>
</div>
<h1 class="hephaestus heading">HEPHAESTUS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier4' [spacing]=150 [hover]="true" [arrows]="true" [url]="true"></app-carousel>
</div>
<h1 class="artemis heading">ARTEMIS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier5' [spacing]=150 [hover]="true" [arrows]="true" [url]="true"></app-carousel>
</div>
</div>