<app-navigation></app-navigation>
<div class="sponsors">
<!-- <img class="lightning" src="../../assets/Lightning2.png"> -->
<h1 class="zeus heading">ZEUS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier1' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1 class="posseidon heading">POSEIDON</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier2' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1 class="athena heading">ATHENA</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier3' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1 class="hephaestus heading">HEPHAESTUS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier4' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
<h1 class="artemis heading">ARTEMIS</h1>
<div class="cc">
<app-carousel  [numOfslides]='numOfSlides' [photos]='photosTier5' [spacing]=150 [hover]="true" [arrows]="true"></app-carousel>
</div>
</div>