:root {
    --height: 10%;
    --color: transparent;
    --fontSize:13px;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    color: var(--textColor);
    font-size: 40px;
    position: relative;
    left: 50%;
    padding: 10px 40px;
    width: fit-content;
    transform: translate(-50%, 0);
    /* text-shadow: 10px 10px 2px black; */
}

.lightning {
    position: absolute;
    height: 150px;
    left: 70%;
    top: 10%;
    filter: brightness(0) saturate(100%) invert(65%) sepia(81%) saturate(405%) hue-rotate(1deg) brightness(105%) contrast(92%);
    filter: drop-shadow(3px 3px 2px black);
}

body {
    background-color: var(--backgroundColor);
    overflow-x: hidden;
}

.preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 200px;
    max-height: 200px;
    cursor: pointer;

}

.slide {
    box-shadow: 10px 8px 5px 5px #000;
    border-radius: 10px;
}

.cc img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
}

.onHover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    color: transparent;
    /* make the text invisible */
    user-select: none;
    /* prevent selection of the text */
    font-size: 15px;
    font-family: "Luckiest Guy", cursive;
    text-align: justify;
    margin:0;
}

.hoverPanel {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    opacity: 1;
    margin: 0px;
    animation: hoverB 0.6s ease;
    background-color: var(--primaryColor);
}


.slide:hover .hoverPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
    color: var(--textColor);
    border-radius: 10px;
    animation: hoverA 0.6s ease forwards;
}

.slide:hover .onHover {
    display: flex;
    justify-content: center;
    align-items:start;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: var(--fontSize);
    height: 85% ;
    color: var(--textColor);
    border-radius: 10px;
    animation: hoverA 0.6s ease forwards;
}

.seeMore {
    height: 15% !important;
    flex-direction: column-reverse;
    position: absolute;
    bottom: -10% !important;
    transform: translate(-50%,0);
    top:85% !important;
    align-items:center !important;
}
.cc {
    cursor: grab;
    padding: 0px 0;
}

.sponsors {
    padding-bottom: 5vw;
}

.keen-slider {
    padding: 35px 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


@keyframes hoverA {
    from {
        height: 10%;
        color: transparent;
        font-size: 0;
    }

    to {
        height: 100%;
        color: var(--textColor);
        font-size: var(--fontSize);
    }
}

@keyframes hoverB {
    from {
        height: var(--height);
        color: var(--color);
        font-size:var(--fontSize);
    }

    to {
        height: 10%;
        color: transparent;
        font-size: 0;
    }
}


@media (width <=600px) {
    .arrow-container-left {
        width: 30px !important;
    }

    .arrow-container-right {
        width: 30px !important;
    }

    .cc img {
        width: 80%;
        box-shadow: 10px 8px 5px 5px #000;
    }

    .cc .hoverPanel {
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .cc {
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .slide {
        box-shadow: none !important;
    }

    .arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        fill: var(--secondaryColor);
        cursor: pointer;
    }

    .arrow--left {
        left: -5px !important;
        z-index: 3 !important;
    }

    .arrow--right {
        right: -5px !important;
        z-index: 3 !important;
    }

}