body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: hidden !important;
}

.slide img{
    width: 120%;
    height: 130%;
    object-fit:fill;
}

 .slide{
    width: 100%;
    height: 90vh;
    object-fit:fill;
}

.timer{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5335A7;
    font-size: 10vw;
}