body{
    background-color: var(--backgroundColor);
}

.member-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    color: var(--textColor);
    font-family: "Luckiest Guy", cursive;
    text-shadow: 10px 10px 1px black;
    font-size: 3.5rem;
    text-align: center;
}

.member-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--primaryColor);
    border-radius: 15px;
    box-shadow: 0 8px 16px grey;
    margin-bottom: 3%;
    transform: 
        perspective(75em);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 820px) {
    .member-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header{
        font-size: 2.5rem;
    }
}

@media (width <= 389px) {
    .member-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
}

app-member-widget{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}