<div class="keen-slider" #sliderRef>
  <div *ngFor="let photo of photos" class="keen-slider__slide slide number-slide"><img [ngSrc]="photo.src" fill priority/> 
    <p *ngIf="hover" class="onHover">{{photo.description}} <a *ngIf="url" href={{photo.pageUrl}} target="_blank">See More</a></p>
    
  </div>
  <div *ngIf="arrows">
    <div class="arrow-container-left">
    <svg [ngClass]="
  'arrow arrow--left '
" (click)="slider!.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
    </svg>
  </div>
  <div class="arrow-container-right">
    <svg *ngIf="arrows" [ngClass]="
  'arrow arrow--right '
" (click)="slider!.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
  </div>
  </div>
</div>