.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: var(--secondaryColor);
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    right: 5px;
  }

  .keen-slider__slide.slide.number-slide{
    box-shadow: 0px 12px 24px #000000;
  }
  
  