<footer class="footer-wrapper">
    <div class="copywright-wrapper">
        <p class="copywright">© {{currentYear}} AUBG Olympics. All rights reserved!</p>
    </div>
    <div class="social-media-wrapper">
        <a href="https://www.facebook.com/AUBGOlympics" target="_blank"><fa-icon [icon]="faFacebookIcon" class="icon"></fa-icon></a>
        <a href="https://www.instagram.com/aubg_olympics/" target="_blank"><fa-icon [icon]="faInstragramIcon" class="icon"></fa-icon></a>
        <a href="https://www.linkedin.com/company/aubg-olympics/mycompany/" target="_blank"><fa-icon [icon]="faLinkedInIcon" class="icon"></fa-icon></a>
        <a href="https://youtube.com/@aubgolympicscommittee2365?si=Vz8AxHwa7WCcL1ew" target="_blank"><fa-icon [icon]="faYouTubeIcon" class="icon"></fa-icon></a>
    </div>
</footer>