<div class="search-wrapper">
    <div class="search-option-wrapper">
        <a class="option" (click)="onFilterSelected('all')">
            <div class="option-content">
                <span class="option-title">All</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('board')">
                <span class="option-title">Board</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('challenge')">
                <span class="option-title">Challenge Org.</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('logistics')">
                <span class="option-title">Logistics</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('marketing')">
                <span class="option-title">Marketing</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('sponsorship')">
                <span class="option-title">Sponsorship</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('it')">
                <span class="option-title">IT</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('pr')">
                <span class="option-title">PR</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('bbq')">
                <span class="option-title">BBQ</span>
            </div>
        </a>
    </div>
</div>
