<div class="search-wrapper">
    <div class="search-option-wrapper">
        <a class="option" (click)="onFilterSelected($event, 'All')">
            <div class="option-content selected">
                <span class="option-title">All</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'Board')">
                <span class="option-title">Board</span>
            </div>
        </a>
        <a class="option ch-org">
            <div class="option-content" (click)="onFilterSelected($event, 'Challenge')">
                <span class="option-title">Ch. Org.</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'Logistics')">
                <span class="option-title">Logistics</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'Marketing')">
                <span class="option-title">Marketing</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'Sponsorship')">
                <span class="option-title">Sponsorship</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'IT')">
                <span class="option-title">IT</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'PR')">
                <span class="option-title">PR</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'Video')">
                <span class="option-title">Video</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected($event, 'BBQ')">
                <span class="option-title">BBQ</span>
            </div>
        </a>
    </div>
</div>
