.search-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-option-wrapper{
    display: flex;
    width: 80%;
    background-color: var(--primaryColor);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px var(--primaryColor);
}

.option{
    background-color: var(--backgroundColor);
    width: 15%;
    height: 30%;
    border-radius: 5px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--textColor);
    cursor: pointer;
    flex-wrap: wrap;
    padding: 2px;
    margin-bottom: 3px;
    box-shadow: 0 0.5px 0px var(--textColor);
}

.option-content{
    width: 100%;
    height: 100%;
}

.option-title{
    font-family:  "Luckiest Guy", cursive;
    color: var(--textColor);
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.option:has(.selected){
    background-color: var(--accentColor);
    border-color: var(--textColor);
}

.selected .option-title{
    color: var(--textColor);
}

@media (width <= 414px) {
    .option-title{
        font-size: 0.95em;
    }

}

@media (width <= 291px) {
    .option-title{
        font-size: 0.7em;
    }
}

@media (width <= 1196px) {
    .option{
        width: 35%;
        height: 35%;
    }

    .search-option-wrapper{
        gap: 0.5%;
    }
}