<div class="search-wrapper">
    <div class="search-option-wrapper">
        <a class="option" (click)="onFilterSelected('All')">
            <div class="option-content">
                <span class="option-title">All</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Board')">
                <span class="option-title">Board</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Challenge')">
                <span class="option-title">Challenge Org.</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Logistics')">
                <span class="option-title">Logistics</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Marketing')">
                <span class="option-title">Marketing</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Sponsorship')">
                <span class="option-title">Sponsorship</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('IT')">
                <span class="option-title">IT</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('PR')">
                <span class="option-title">PR</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('Video')">
                <span class="option-title">Video</span>
            </div>
        </a>
        <a class="option">
            <div class="option-content" (click)="onFilterSelected('BBQ')">
                <span class="option-title">BBQ</span>
            </div>
        </a>
    </div>
</div>
